<div class="container my-5">
  <div class="row">
    <!-- old syntax of ngFor -->
   <ng-container *ngFor="let course of courses">
    <div class="col-md-4 col-12">
      <app-card [course]="course" (viewCourseEmitter)="onCourseClicked($event)"/> <!-- self closing tag-->
    </div>
   </ng-container>


   <!-- new syntax of ngFor -->
    
   <div class="mt-5 "> loop with new syntax </div>
   @for (course of courses; track course.id ){ <!-- track is required with unique thing like id -->
    <div class="col-md-4 col-12">
      <app-card [course]="course" (viewCourseEmitter)="onCourseClicked($event)"/> <!-- self closing tag-->
    </div>
   }

  </div>
</div>